{% load static %}

<!DOCTYPE html>
<html>
<head>
    <title>Portafolio</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">

</head>
<body>
    <header>
        <div style="float: left;">Portafolio</div>
        <div style="float: right;">
            <a href="#inicio">Inicio</a> 
            <a href="#proyectos">Proyectos</a>
        </div>
    </header>
    <div>
        <section>
            <h2>Data Analysis y Machine Learning</h2>
            <button onclick="location.href='#data-analysis'">Ir ahí</button>
        </section>
        <section>
            <h2>Información sobre mí</h2>
            <button onclick="location.href='#sobre-mi'">Ir ahí</button>
        </section>
        <section>
            <h2>Mis redes sociales</h2>
            <button onclick="location.href='#redes-sociales'">Ir ahí</button>
        </section>
    </div>
</body>
</html>
